@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

body {
  background: linear-gradient(to bottom, #0a1f5c, #87cefa);
  font-family: 'UnifrakturCook', cursive;
  color: white;
  text-align: center;
  height: 100vh;
  margin: 0;
}g

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}